*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    margin-top: 150px; 
}
.carousel{
    position: relative;
    left: 50%;
    margin: 50px 0 0 -160px;
    width: 320px;
    height: 240px;
    overflow: hidden;
}
.imgCt{
    position: absolute;
    /* left: -320px; */
    display: inline-flex;
}
.imgCt li{
    width: 320px;
    height: 240px;
}
.imgCt img{
    width: 100%;
}

.carousel span{
    border: 1px solid #ccc;
    color: white;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    user-select: none;
    
}
.carousel .previous{
    position: absolute;
    top: 50%;
    margin-top:-10px;
    left: 10px; 
}
.carousel .next{
    position: absolute;
    top: 50%;
    margin-top:-10px;
    right: 10px; 
}
.directive{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: -25%;
    bottom: 20px;
    left: 50%;
    z-index: 1;
}
.directive li{
    width: 20%;
    height: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    background: #ddd;
}
